* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: veintiocho;
  src: url(../fonts/28/28.ttf);
}
@font-face {
  font-family: friday;
  src: url(../fonts/friday/friday.ttf);
}
.indexBg {
  background-image: url("../images/bg/indexBg.jpg");
}

.usBg {
  background-image: url("../images/bg/usBg.jpg");
}

.marketBg {
  background-image: url("../images/bg/marketBg.jpg");
}

.galleryBg {
  background-image: url("../images/bg/galleryBg.jpg");
}

.contactBg {
  background-image: url("../images/bg/contactBg.jpg");
}

::-webkit-scrollbar {
  width: 0.8rem;
  background-color: #464545;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #f50000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
body header img {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.6;
}
body header ul {
  height: 5rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body header ul li {
  text-align: center;
  width: fit-content;
  margin-right: 3rem;
  z-index: 5;
}
body header ul li a {
  color: white;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
  text-decoration: none;
  font-size: 1.3rem;
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
body header ul li:hover {
  animation: zoom 0.5s ease 1;
}
body main {
  flex: 1;
  margin-top: 15rem;
}
body footer {
  width: 100%;
  display: flex;
  z-index: 10;
}
body footer .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10rem;
}
body footer .social-media a {
  font-size: 2rem;
  color: #ad0707;
  margin: 0 0 0.8rem 0.8rem;
}
body footer .social-media a:link {
  color: #ad0707;
}
body footer .social-media a:visited {
  color: #ad0707;
}
body footer .social-media a:hover {
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
body footer .social-media a:active {
  color: red;
}
body footer address {
  display: flex;
}
body footer address .fas {
  font-size: 5rem;
  color: red;
  height: fit-content;
  align-self: center;
}
body footer address .place {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer address .place p {
  color: #c2baba;
  font-family: friday;
  font-size: 3rem;
  text-shadow: 2px 2px #000;
  text-align: center;
}
body footer address .place p span {
  font-family: veintiocho;
  color: red;
  opacity: 0.8;
}
body footer .spoti {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
body footer .spoti iframe {
  width: 25rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 0 1rem 1rem;
  border: none;
}
body footer .spoti iframe:hover {
  height: 100%;
  transition: 0.5s ease;
  opacity: 0.5;
  box-shadow: 0 1px 1px red;
}

.body-index {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.body-index .main-index {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.body-index .main-index .help {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-index .main-index .help p {
  position: absolute;
  top: 11rem;
  font-family: "Londrina Shadow", cursive;
  font-size: 8rem;
  color: #cf0000;
  text-align: center;
  letter-spacing: 0.4rem;
  text-shadow: 2px 2px 10px #fff, -2px -2px 5px #fff;
  font-weight: 600;
  transform: rotateZ(8deg);
  animation: help 1s ease 1;
  z-index: 5;
}
.body-index .main-index .help .scream {
  width: 100%;
  display: flex;
  justify-content: center;
}
@keyframes move {
  0% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}
.body-index .main-index .help .scream img {
  width: 60%;
  animation: move 10s ease-in-out infinite;
}
@keyframes help {
  0% {
    transform: scale(0) rotateZ(8deg);
  }
  50% {
    transform: scale(2, 2) rotateZ(8deg);
  }
  100% {
    transform: scale(1, 1) rotateZ(8deg);
  }
}
.body-index .main-index .call {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-family: veintiocho;
}
.body-index .main-index .call h2 {
  color: black;
  font-size: 8rem;
  text-align: center;
  font-weight: initial;
  color: #505050;
}
.body-index .main-index .call h2 span {
  color: whitesmoke;
  transform: translateY(10px);
}
.body-index .main-index .call h3 {
  position: absolute;
  top: 4rem;
  right: 3rem;
  color: red;
  transform: rotateZ(-15deg);
  font-size: 8rem;
  text-align: center;
  inline-size: min-content;
  line-height: 0.8;
  font-weight: initial;
}

.usDes-1 {
  animation-name: usDes;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-2 {
  animation-name: usDes;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-3 {
  animation-name: usDes;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-4 {
  animation-name: usDes;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-5 {
  animation-name: usDes;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-6 {
  animation-name: usDes;
  animation-duration: 1.8s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-7 {
  animation-name: usDes;
  animation-duration: 2.1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-8 {
  animation-name: usDes;
  animation-duration: 2.4s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-9 {
  animation-name: usDes;
  animation-duration: 2.7s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-10 {
  animation-name: usDes;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-11 {
  animation-name: usDes;
  animation-duration: 3.3s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-12 {
  animation-name: usDes;
  animation-duration: 3.6s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-13 {
  animation-name: usDes;
  animation-duration: 3.9s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-14 {
  animation-name: usDes;
  animation-duration: 4.2s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-15 {
  animation-name: usDes;
  animation-duration: 4.5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-16 {
  animation-name: usDes;
  animation-duration: 4.8s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-17 {
  animation-name: usDes;
  animation-duration: 5.1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-18 {
  animation-name: usDes;
  animation-duration: 5.4s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-19 {
  animation-name: usDes;
  animation-duration: 5.7s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.usDes-20 {
  animation-name: usDes;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.body-us {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.body-us .blood-us {
  opacity: 0.9;
}
.body-us .feel {
  position: absolute;
  left: 1.5rem;
  top: 2rem;
  font-family: friday;
  color: gold;
  font-size: 3rem;
  transform: rotateZ(-6deg);
}
.body-us .main-us {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  z-index: 5;
}
.body-us .main-us .crazy {
  text-align: center;
  font-family: friday;
  font-size: 4rem;
  color: #e10000;
  align-self: flex-end;
  transform: rotateZ(3deg) translateX(10rem);
  margin-bottom: 2.5rem;
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
.body-us .main-us .us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.body-us .main-us .us .us__container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.body-us .main-us .us .us__container .us__img {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 0 1rem;
  border-radius: 50%;
  position: relative;
}
.body-us .main-us .us .us__container .us__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(2px);
  box-shadow: 2px 2px 100px 10px #181010;
  object-fit: cover;
}
.body-us .main-us .us .us__container .us__img img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.body-us .main-us .us .us__container .us__img img:last-child:hover {
  filter: blur(0.3px);
  box-shadow: 2px 2px 100px 0px rgba(255, 255, 255, 0.233);
  transition: 0.6s ease;
  opacity: 1;
}
.body-us .main-us .us .us__container h2 {
  width: 20rem;
  height: 7rem;
  font-size: 2.5rem;
  font-family: "Londrina Shadow", cursive;
  color: rgba(255, 255, 255, 0.705);
  text-shadow: 1px 1px 2px black;
  text-align: center;
  padding: 0 1rem;
}
@keyframes usDes {
  75% {
    text-shadow: 2px 2px 3px red, -1px -1px 3px red;
    color: rgba(22, 21, 21, 0.8);
  }
  100% {
    text-shadow: none;
  }
}
.body-us .main-us .us .us__container h2 span {
  margin: -0.1rem;
}
.body-us .main-us .mission {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-us .main-us .mission p {
  font-family: veintiocho;
  font-size: 3.5rem;
  text-align: center;
  color: #4b4545;
  text-shadow: 2px 2px 10px #000;
}
.body-us .main-us .mission p:last-child {
  position: absolute;
  top: 3rem;
  left: 34rem;
  font-size: 2rem;
  color: #fbfbfb;
  transform: rotateZ(5deg);
}

.body-market {
  background-color: black;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  opacity: 0.9;
}
.body-market .main-market {
  width: 70%;
  max-width: 1200px;
  margin-top: 10rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  grid-template-rows: auto;
  gap: 3rem 4rem;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
}
.body-market .main-market .buy-item {
  border-right: 0.6rem inset red;
  border-bottom-right-radius: 75%;
  justify-self: stretch;
  align-self: stretch;
  position: relative;
}
.body-market .main-market .buy-item .buy-img img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 2.5%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 75%;
  box-shadow: 0 2px 5px black;
}
.body-market .main-market .buy-item .buy-img .precio {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
}
.body-market .main-market .buy-item .buy-img .precio p {
  font-size: 3rem;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-family: friday;
  color: red;
  text-shadow: 1px 1px 1px #000;
  transform: rotateZ(-30deg) translateY(4rem) translateX(-3rem);
}
.body-market .main-market .buy-item .buy-img .precio:hover {
  opacity: 1;
  transition: 0.8s;
}
.body-market .main-market .buy-item .buy-price {
  margin-top: 0.5rem;
}
.body-market .main-market .buy-item .buy-price p {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-family: friday;
  color: red;
}
.body-market .main-market .buy-item .buy-price p:nth-child(2) {
  font-size: 1.8rem;
  text-align: center;
  color: black;
  text-shadow: 0 0 2px #fff;
}
.body-market .main-market .buy-item .button {
  margin: 1rem 0;
}
.body-market .main-market .buy-item .button input[type=button] {
  width: 30%;
  padding: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-size: 2rem;
  font-family: veintiocho;
  transform-origin: top right;
}
.body-market .main-market .buy-item .button input[type=button]:active {
  transform: rotateZ(-45deg);
  transition: 0.1s;
  background-color: red;
  color: white;
}
.body-market .footer-market {
  margin-top: 0rem;
}

.body-gallery {
  background-color: black;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
}
.body-gallery .gallery-img-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.body-gallery .gallery-img-modal .img-modal-container {
  backdrop-filter: blur(20px);
  padding: 1rem;
  max-width: 90%;
  max-height: 90%;
  outline: 2px solid red;
  outline-offset: 3px;
  display: flex;
}
.body-gallery .gallery-img-modal .img-modal-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.body-gallery .img-modal-visible {
  opacity: 1;
  visibility: visible;
}
.body-gallery .main-gallery {
  margin: 8rem 0 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 0.6rem;
  z-index: 5;
}
.body-gallery .main-gallery img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
  opacity: 0.6;
  transition: all 0.2s;
}
.body-gallery .main-gallery img:hover {
  outline: 3px inset red;
  opacity: 1;
  cursor: pointer;
}
.body-gallery .main-gallery img:active {
  transform: scale(0.9);
}
.body-gallery .main-gallery img:first-child {
  grid-column: span 2;
  object-position: 0 -4.5rem;
}
.body-gallery .main-gallery img:nth-child(2) {
  grid-row: span 2;
  height: 100%;
  object-position: -8.5rem 0;
}
.body-gallery .main-gallery img:nth-child(4) {
  grid-column: span 2;
}
.body-gallery .main-gallery img:nth-child(6) {
  grid-row: span 3;
  height: 100%;
}
.body-gallery .main-gallery img:nth-child(8) {
  grid-row: span 2;
  height: 100%;
}
.body-gallery .main-gallery img:nth-child(13) {
  grid-column: span 2;
}
.body-gallery .main-gallery img:nth-child(17) {
  grid-column: span 3;
  object-position: 0 -7rem;
}
.body-gallery .main-gallery img:nth-child(21) {
  grid-row: span 2;
  height: 100%;
}
.body-gallery .main-gallery img:nth-child(23) {
  grid-column: span 2;
  grid-row: span 2;
  height: 100%;
}
.body-gallery .main-gallery img:nth-child(27) {
  grid-column: span 2;
}
.body-gallery .main-gallery img:nth-child(28) {
  grid-column: span 3;
  object-position: 0 -3rem;
}
.body-gallery .main-gallery img:nth-child(31) {
  grid-column: span 2;
  object-position: 0 -3rem;
}
.body-gallery .main-gallery img:last-child {
  grid-column: span 2;
  object-position: 0 -5rem;
}

.body-contact {
  background-color: black;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}
.body-contact .main-contact {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}
.body-contact .main-contact .horror-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-contact .main-contact .horror-form input {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  height: 3rem;
  background: rgba(46, 42, 42, 0.5);
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: #dad8d8;
  font-size: 1.8rem;
  font-family: veintiocho;
}
.body-contact .main-contact .horror-form textarea {
  height: 20rem;
  background: rgba(46, 42, 42, 0.5) url("../images/contact/screamx.png") no-repeat right bottom;
  background-size: contain;
  resize: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: veintiocho;
  outline: none;
  border: none;
  font-size: 1.8rem;
  font-family: veintiocho;
  color: #dad8d8;
  margin-bottom: 1rem;
}
.body-contact .main-contact .horror-form .more-blood {
  position: absolute;
  width: 60%;
  top: 25.5rem;
  left: -3.8rem;
  opacity: 0.6;
}
.body-contact .main-contact .horror-form textarea:hover, .body-contact .main-contact .horror-form input:hover {
  box-shadow: 0px 0px 10px 1px white;
  transition: 0.2s ease;
}
.body-contact .main-contact .horror-form textarea::placeholder {
  font-size: 1.8rem;
}
.body-contact .main-contact .horror-form [type=submit] {
  align-self: flex-end;
  padding: 0.2rem;
  width: 7.5rem;
  text-align: center;
  color: black;
}
.body-contact .main-contact .horror-form [type=submit]:hover {
  box-shadow: 1px 1px 10px 1px black;
}
.body-contact .main-contact .horror-form [type=submit]:active {
  transform: translateY(0.1rem) scale(0.9);
  box-shadow: none;
}
.body-contact .main-contact .game {
  position: absolute;
  bottom: -9rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body-contact .main-contact .game .game-text {
  color: #c30f0f;
  font-family: friday;
  font-size: 2rem;
  inline-size: min-content;
  text-align: center;
  transform: translateX(-5rem) rotateZ(-30deg);
}
.body-contact .main-contact .game .game-img {
  width: 12rem;
}

@media screen and (max-width: 768px) {
  body header {
    position: absolute;
    top: 0;
  }
  body header nav ul {
    justify-content: right;
    align-items: center;
    height: 4rem;
    margin-right: 2rem;
  }
  body header nav ul li {
    margin: 0.3rem;
  }
  body header nav ul li a {
    font-size: 1rem;
    margin: 0.5rem;
  }
  body .main {
    margin-top: 7rem;
  }
  body footer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 10% 40% 50%;
  }
  body footer .social-media {
    width: 100%;
  }
  body footer .social-media a {
    margin: 0 0 0.5rem;
  }
  body footer address {
    align-self: center;
    padding: 1rem;
  }
  body footer address .fas {
    font-size: 3rem;
  }
  body footer address .place p {
    font-size: 1.7rem;
  }
  body footer .spoti {
    justify-content: center;
    align-items: flex-end;
    flex: unset;
    padding: 1rem;
  }
  body footer .spoti iframe {
    margin: 0;
  }

  .body-index {
    background-position: -33rem -10rem;
  }
  .body-index .main-index {
    margin-top: 10rem;
    flex: unset;
  }
  .body-index .main-index .help p {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 4px #000, -1px -1px 4px #fff;
    top: 8rem;
  }
  .body-index .main-index .help .scream img {
    width: 100%;
  }
  .body-index .main-index .call {
    width: 80%;
  }
  .body-index .main-index .call h2 {
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 0.5px #1d1c1c, -0.5px -0.5px 0.5px #1d1c1c;
  }
  .body-index .main-index .call h2 span {
    font-size: 2.8rem;
  }
  .body-index .main-index .call h3 {
    top: 1.5rem;
    right: 8.5rem;
    font-size: 3rem;
  }

  .body-us {
    background-position: -47rem -10rem;
  }
  .body-us header .feel {
    font-size: 2rem;
  }
  .body-us .main-us {
    margin: 10rem 0 4rem;
    width: 100%;
  }
  .body-us .main-us .crazy {
    font-size: 2rem;
    transform: rotateZ(3deg) translateX(-1rem);
  }
  .body-us .main-us .us {
    flex-wrap: wrap;
    justify-content: center;
  }
  .body-us .main-us .us .us__container {
    align-items: center;
  }
  .body-us .main-us .us .us__container .us__img {
    width: 15rem;
    height: 15rem;
  }
  .body-us .main-us .mission {
    width: 80%;
    margin: 2rem 0 -3rem;
  }
  .body-us .main-us .mission p {
    font-size: 2.2rem;
  }
  .body-us .main-us .mission p:last-child {
    top: 3rem;
    left: 8rem;
    font-size: 1.5rem;
    color: rgba(251, 251, 251, 0.5);
  }

  .body-market {
    background-position: -48rem -14rem;
  }
  .body-market .main-market {
    width: 100%;
    margin: 6rem 0 0;
  }

  .body-gallery .main-gallery {
    width: 90%;
    margin: 5rem 0 -1rem;
  }
  .body-gallery .main-gallery img:nth-child(25), .body-gallery .main-gallery img:nth-child(26) {
    height: 100%;
  }

  .body-contact .main-contact .game {
    bottom: 18rem;
  }
  .body-contact .main-contact .game .game-text {
    font-size: 1.6rem;
    transform: translateX(-4rem) rotateZ(-30deg);
  }
  .body-contact .main-contact .game .game-img {
    width: 8rem;
  }
}
@media screen and (max-width: 480px) {
  body header {
    position: absolute;
    top: 0;
  }
  body header nav ul {
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    margin-right: 1.5rem;
  }
  body header nav ul li {
    margin: 0.3rem;
  }
  body header nav ul li a {
    font-size: 1.1rem;
  }
  body .main {
    margin-top: 7rem;
  }
  body footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  body footer .social-media {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  body footer .social-media a {
    font-size: 1.8rem;
    margin: 0 0.9rem;
  }
  body footer address {
    order: -1;
    margin-bottom: 0.7rem;
    width: 100%;
    justify-content: center;
  }
  body footer address .fas {
    font-size: 3rem;
  }
  body footer address .place p {
    font-size: 2rem;
  }
  body footer .spoti {
    padding: 0.5rem;
  }
  body footer .spoti iframe {
    margin: 0;
  }

  .body-index {
    min-height: 100vh;
    background-position: -45rem;
  }
  .body-index .main-index {
    margin-top: 10rem;
  }
  .body-index .main-index .help {
    width: 80%;
  }
  .body-index .main-index .help p {
    top: 7.5rem;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    text-shadow: 1px 1px 4px #000, -1px -1px 4px #fff;
  }
  .body-index .main-index .help .scream img {
    width: 100%;
  }
  .body-index .main-index .call {
    margin: 3.5rem 0;
    width: 80%;
  }
  .body-index .main-index .call h2 {
    font-size: 3rem;
    text-shadow: 0.5px 0.5px 0.5px #1d1c1c, -0.5px -0.5px 0.5px #1d1c1c;
  }
  .body-index .main-index .call h2 span {
    font-size: 2.8rem;
  }
  .body-index .main-index .call h3 {
    top: 1.4rem;
    right: -0.5rem;
    font-size: 3.5rem;
  }

  .body-us {
    background: cover no-repeat;
    background-position: -73rem;
    background-attachment: fixed;
  }
  .body-us .feel {
    top: 4rem;
    left: 0.1rem;
    font-size: 2rem;
    inline-size: 50%;
    text-align: center;
  }
  .body-us .main-us {
    margin-top: 8rem;
  }
  .body-us .main-us .crazy {
    font-size: 1.5rem;
    margin: 0;
    transform: translateX(-1rem) translateY(0rem) rotateZ(5deg);
    width: 10rem;
  }
  .body-us .main-us .us {
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin-bottom: 1.5rem;
  }
  .body-us .main-us .us .us__container {
    margin: 0 rem;
  }
  .body-us .main-us .us .us__container .us__img {
    width: 15rem;
    height: 15rem;
    margin: 0 auto 1rem;
  }
  .body-us .main-us .us .us__container h2 {
    width: 15rem;
    height: 6rem;
    margin: 0 auto;
    font-size: 2rem;
  }
  .body-us .main-us .mission p {
    font-size: 1.5rem;
  }
  .body-us .main-us .mission p:last-child {
    position: static;
    font-size: 1.2rem;
    transform: none;
    inline-size: 70%;
    margin: auto;
    transform: rotateZ(-12deg);
  }
  .body-us .foot-us {
    margin-top: 0;
  }

  .body-market {
    background: cover no-repeat;
    background-position: -70rem bottom;
    background-attachment: fixed;
  }
  .body-market .main-market {
    margin-top: 3rem;
  }

  .body-gallery {
    background: cover no-repeat;
    background-position: -46rem -25rem;
    background-attachment: fixed;
  }
  .body-gallery .gallery-img-modal {
    padding: 1rem;
  }
  .body-gallery .gallery-img-modal .img-modal-container {
    width: 100%;
  }
  .body-gallery .main-gallery {
    margin: 6rem 0 2rem;
    width: 80%;
    grid-template-columns: repeat(2, 10rem);
    grid-auto-rows: 15rem;
    justify-content: center;
  }
  .body-gallery .main-gallery img:first-child {
    grid-column: span 2;
    object-position: unset;
  }
  .body-gallery .main-gallery img:nth-child(2) {
    grid-row: unset;
    height: 100%;
    object-position: unset;
  }
  .body-gallery .main-gallery img:nth-child(4) {
    grid-column: unset;
  }
  .body-gallery .main-gallery img:nth-child(6) {
    grid-row: unset;
    height: 100%;
  }
  .body-gallery .main-gallery img:nth-child(7) {
    height: 100%;
  }
  .body-gallery .main-gallery img:nth-child(8) {
    grid-row: unset;
    height: 100%;
  }
  .body-gallery .main-gallery img:nth-child(13) {
    grid-column: unset;
  }
  .body-gallery .main-gallery img:nth-child(17) {
    grid-column: unset;
    object-position: unset;
  }
  .body-gallery .main-gallery img:nth-child(21) {
    grid-row: unset;
    height: 100%;
  }
  .body-gallery .main-gallery img:nth-child(23) {
    grid-column: unset;
    grid-row: unset;
    height: 100%;
  }
  .body-gallery .main-gallery img:nth-child(27) {
    grid-column: unset;
  }
  .body-gallery .main-gallery img:nth-child(28) {
    grid-column: unset;
    object-position: unset;
  }
  .body-gallery .main-gallery img:nth-child(31) {
    grid-column: span 2;
    object-position: unset;
  }
  .body-gallery .main-gallery img:last-child {
    grid-column: span 2;
    object-position: 0 -5rem;
  }
  .body-gallery .foot-gallery {
    margin: 0;
  }

  .body-contact {
    background-position: -24rem;
  }
  .body-contact .main-contact {
    width: 90;
    flex-direction: column;
    margin: 14rem 0 -1rem;
  }
  .body-contact .main-contact .horror-form input {
    width: 90%;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .body-contact .main-contact .horror-form textarea {
    width: 90%;
    background-size: 40%;
    font-size: 1.5rem;
  }
  .body-contact .main-contact .horror-form .more-blood {
    top: 25.1rem;
    left: -1rem;
  }
  .body-contact .main-contact .horror-form [type=submit] {
    width: 5rem;
    margin-right: 1.5rem;
  }
  .body-contact .main-contact .game {
    top: 0;
    right: 0.3rem;
    bottom: 0;
    left: 0;
    z-index: -500;
    padding: 0;
  }
  .body-contact .main-contact .game .game-text {
    position: absolute;
    font-size: 1rem;
    top: -8rem;
    right: 0;
  }
  .body-contact .main-contact .game .game-img {
    position: absolute;
    top: -7rem;
    right: 0;
    width: 6rem;
  }
}

/*# sourceMappingURL=style.css.map */
