.body-gallery {
    @include bgImg(black, no-repeat, bottom center, fixed);
	position: relative;
	.gallery-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		transition: all .3s linear;
		.gallery-modal-container {
			width: 90%;
			height: 90%;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 100%;
			justify-content: center;
			justify-items: center;
			align-content: center;
			align-items: center;
			.gallery-modal-img {
				height: 100%;
				outline: 2px solid red;
				outline-offset: 10px;
			}
		}
	}	
	.img-modal-visible {
		opacity: 1;
		visibility: visible;
	}
    .main-gallery {
        margin: 8rem 0 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        gap: .6rem;
        z-index: 5;
        img {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: .5rem;
            opacity: .6;
            transition: all .2s;
        }
        img:hover {
            outline: 3px inset red;
            opacity: 1;
			cursor: pointer;
        }
		img:active {
			transform: scale(.9);
		}
        img:first-child {
            grid-column: span 2;
            object-position: 0 -4.5rem;
        }
        
        img:nth-child(2) {
            grid-row: span 2;
            height: 100%;
            object-position: -8.5rem 0;
        }
        
        img:nth-child(4) {
            grid-column: span 2;
        }
        
        img:nth-child(6) {
            grid-row: span 3;
            height: 100%;
        }
        
        img:nth-child(8) {
            grid-row: span 2;
            height: 100%;
        }
        
        img:nth-child(13) {
            grid-column: span 2;
        }
        
        img:nth-child(17) {
            grid-column: span 3;
            object-position: 0 -7rem;
        }
        
        img:nth-child(21) {
            grid-row: span 2;
            height: 100%;
        }
        
        img:nth-child(23) {
            grid-column: span 2;
            grid-row: span 2;
            height: 100%;
        }
        
        img:nth-child(27) {
            grid-column: span 2;
        }
        
        img:nth-child(28) {
            grid-column: span 3;
            object-position: 0 -3rem;
        }
        
        img:nth-child(31) {
            grid-column: span 2;
            object-position: 0 -3rem;
        }
        
        img:last-child {
            grid-column: span 2;
            object-position: 0 -5rem;
        }
    }
}