.body-market {
    background: url("../images/hwallh.jpg") bottom center fixed;
    background-size: cover;
    opacity: .9;
    .main-market {
        width: 70%;
        max-width: 1200px;
        margin-top: 10rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 18rem);
        grid-template-rows: auto;
        gap: 3rem 4rem;
        justify-content: center;
        z-index: 500;
        padding: 2rem;
        .buy-item {
            border-right: .6rem inset red;
            border-bottom-right-radius: 75%;
            justify-self: stretch;
            align-self: stretch;
            position: relative;
            .buy-img {
                img {
                    width: 100%;
                    height: 20rem;
                    object-fit: cover;
                    border-top-left-radius: 2.5%;
                    border-bottom-left-radius: 20%;
                    border-bottom-right-radius: 75%;
                    box-shadow: 0 2px 5px black;
                }
                .precio {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 200;
                    opacity: 0;
                    width: 100%;
                    height: 20rem;
                    display: flex;
                    justify-content: center;
                    p {
                        font-size: 3rem;
                        margin: auto;
                        width: fit-content;
                        height: fit-content;
                        font-family: friday;
                        color: red;
                        text-shadow: 1px 1px 1px #000;
                        transform: rotateZ(-30deg) translateY(4rem) translateX(-3rem);
                    }
                }
                .precio:hover {
                    opacity: 1;
                    transition: .8s;
                }
            }
            .buy-price {
                margin-top: .5rem;
                p {
                    letter-spacing: .1rem;
                    font-size: 2.5rem;
                    font-family: friday;
                    color: red;
                }
                p:nth-child(2) {
                    font-size: 1.8rem;
                    text-align: center;
                    color: black;
                    text-shadow: 0 0 2px #fff;
                }
            }
            .button {
                margin: 1rem 0;
                input[type="button"] {
                    width: 30%;
                    padding: .1rem;
                    border: none;
                    border-radius: .5rem;
                    color: black;
                    font-size: 2rem;
                    font-family: veintiocho;
                }
                input[type="button"]:active {
                    transform: rotateZ(-45deg) translateY(50%);
                    transition: .1s;
                    background-color: red;
                    color: white;
                }
            }
        }
    }
    .footer-market {
        margin-top: 0rem;
    }
}